@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">EtsyInspired</h1>
    <p>an exercise in learning the ASP.NET Core framework</p>
</div>

<div class="card-columns">
@foreach(var product in Model.products)
{
    <div class="card">
        <div class="card-img" style="background-image: url('@product.Image');"></div>
        
        <div class"card-body">
            <h5 class="card-title">@product.Title</h5>
        </div>
    </div>
}
</div>